<link rel="stylesheet" href="/stylesheets/profile.css">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="card profile" style="width: 18rem;">
                <div class="card-body">
                    <div class="image-upload">
                        <label for="file-input">
                            <img src=""
                                id="image" style="cursor: pointer">
                        </label>

                        <input id="file-input" type="file" />
                        <div class="progress" >
                            <div class="progress-bar" role="progressbar"id="progress" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-8 card profile my-0 px-0">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i
                            class="fas fa-user-circle"></i> Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i>
                        Thành tích</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content px-3">
                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                    <div class="row">
                        <div class="col-2">
                            <div class="custom-mt-1"> <label>FullName</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="custom-mt-1">
                                <label><%= fullName %> </label>
                            </div>

                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalFullName()">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="custom-mt-1">
                                <label>Username</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-mt-1">
                                <label><%= username %></label>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="custom-mt-1">
                                <label>Email</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-mt-1">
                                <label><%= email %></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="custom-mt-1">
                                <label>Password</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-mt-1">
                                <label>**********</label>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalPassword()">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="custom-mt-1">
                                <label>Gender</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-mt-1">
                                <label> <%= gender %> </label>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalGender()">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="custom-mt-1">
                                <label>Birthday</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-mt-1">
                                <label><%= birthday %> </label>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalBirthday()">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Experience</label>
                        </div>
                        <div class="col-md-6">
                            <p>Expert</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Hourly Rate</label>
                        </div>
                        <div class="col-md-6">
                            <p>10$/hr</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Total Projects</label>
                        </div>
                        <div class="col-md-6">
                            <p>230</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>English Level</label>
                        </div>
                        <div class="col-md-6">
                            <p>Expert</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Availability</label>
                        </div>
                        <div class="col-md-6">
                            <p>6 months</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Your Bio</label>
                            <br />
                            <p>Your detail description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="result">
</div>

<script>
    var BASE_URL = '<%- BASE_URL %>';
    var POST_UPLOAD_IMAGE = '<%- POST_UPLOAD_IMAGE %>';
    var token = '<%- token %>';

    var imageAvatar = "<%- URL_IMAGE %>" + "<%- image %>";

    $("#image").attr("src", imageAvatar);
    function openModalFullName() {
        $.get("/admin/profile/editFullname?name=<%- fullName %>", (data) => {
            $("#result").html(data);

            $("#editmodel").modal();

            $('#closemodal').click(function () {
                $('#editmodel').modal("hide");
                $("#result").html();

            });
        })
    }

    function openModalPassword() {
        $.get("/admin/profile/editpassword?name=<%- password %>", (data) => {
            $("#result").html(data);

            $("#editmodel").modal();

            $('#closemodal').click(function () {
                $('#editmodel').modal("hide");
                $("#result").html();

            });
        })
    }
    function openModalGender() {
        $.get("/admin/profile/editgender?name=<%- gender %>", (data) => {
            $("#result").html(data);

            $("#editmodel").modal();

            $('#closemodal').click(function () {
                $('#editmodel').modal("hide");
                $("#result").html();

            });
        })
    }
    function openModalBirthday() {
        $.get("/admin/profile/editbirthday?value=<%- birthday %>", (data) => {
            $("#result").html(data);

            $("#editmodel").modal();

            $('#closemodal').click(function () {
                $('#editmodel').modal("hide");
                $("#result").html();

            });
        })
    }
</script>