<div class="container-fluid">
    <div class="row d-flex justify-content-between">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-6 mt-3" id="postDetails">

        </div>

        <div class="col-lg-2">
        </div>
    </div>
</div>

<script>
    var BASE_URL = '<%- BASE_URL %>';
    var ALLPOST_TUTORIAL = '<%-ALLPOST_TUTORIAL %>';
    var token = '<%- token %>';
    var _id = '<%- _id %>';
    var DETAIL_POST = '<%- DETAIL_POST %>';
</script>