<div class="container custom-px">
  <!-- Trigger the modal with a button -->
  <div class="row custom-row">
  <div id="table_name" class="table-name">
  </div>
</div>
  <!-- Modal -->

  <div class="row custom-row">
    <div class="col-12 custom-col">
      <p class="getall">Get All</p>
    </div>
  </div>
  <div class="row custom-row border-detail">
    <div class="col-8 content-col">
      <a data-toggle="modal" data-target="#demoGetAll" id="getAll"> </a>
    </div>
    <div class="col-4 button-function">
      <button class="btn btn-success btn-sm btn-run" type="button" data-toggle="modal"
        data-target="#myModal" id="Run_GetAll">Run</button>
      <button class="btn btn-secondary btn-sm btn-copylink" type="button">Copylink</button>
    </div>
  </div>
  <div class="row custom-row px-0">
    <div class="col-12 custom-col">
      <p class="getbyid">Get By ID</p>
    </div>
  </div>
  <div class="row custom-row border-detail">
    <div class="col-8 content-col">
      <a  data-toggle="modal" data-target="#demoGetByID" id="getbyID"> </a>
    </div>
    <div class="col-4 button-function">
      <button class="btn btn-success btn-sm btn-run" type="button" data-toggle="modal" 
      data-target="#ModalgetByID" id="Run_GetbyID">Run</button>
      <button class="btn btn-secondary btn-sm btn-copylink" type="button" id="copy">Copylink</button>
    </div>
  </div>
  <div class="row custom-row px-0">
    <div class="col-12 custom-col">
      <p class="insert">Insert</p>
    </div>
  </div>
  <div class="row custom-row border-detail">
    <div class="col-8 content-col">
      <a data-toggle="modal" data-target="#demoInsert" id="insertValue"> </a>
    </div>
    <div class="col-4 button-function">
      <button class="btn btn-success btn-sm btn-run" type="button" data-toggle="modal" data-target="#insert"
        id="Run_InsertValue">Run</button>
      <button class="btn btn-secondary btn-sm btn-copylink" type="button" id="copy">Copylink</button>
    </div>
  </div>
  <div class="row custom-row px-0">
    <div class="col-12 custom-col">
      <p class="update">Update By ID</p>
    </div>
  </div>
  <div class="row custom-row border-detail">
    <div class="col-8 content-col">
      <a data-toggle="modal" data-target="#detail2" id="updatebyID"> </a>
    </div>
    <div class="col-4 button-function">
      <button class="btn btn-success btn-sm btn-run" type="button" data-toggle="modal" data-target="#getUpdatebyID"
        id="Run_UpdatebyID">Run</button>
      <button class="btn btn-secondary btn-sm btn-copylink" type="button" id="copy">Copylink</button>
    </div>
  </div>
  <div class="row custom-row">
    <div class="col-12 custom-col">
      <p class="delete">Delete By ID</p>
    </div>
  </div>
  <div class="row custom-row border-detail" >
    <div class="col-8 content-col">
      <a data-toggle="modal" data-target="#detail2" id="detelebyID"> </a>
    </div>
    <div class="col-4 button-function">
      <button class="btn btn-success btn-sm btn-run" type="button" data-toggle="modal" data-target="#detailDeletebyID" id="run">Run</button>
      <button class="btn btn-secondary btn-sm btn-copylink" type="button" id="copy">Copylink</button>
    </div>
  </div>
  <div class="row custom-row ">
    <div class="col-12 custom-col">
      <p class="delete">Delete All</p>
    </div>
  </div>
  <div class="row custom-row border-detail mb-4">
    <div class="col-8 content-col">
      <a data-toggle="modal" data-target="#detailDeleteAll" id="deletelAll"></a>
    </div>
    <div class="col-4 button-function">
      <button class="btn btn-success btn-sm btn-run" type="button" id="Run_DeleteAll" data-toggle="modal" data-target="#detailDeleteAll">Run</button>
      <button class="btn btn-secondary btn-sm btn-copylink" type="button" id="copy">Copylink</button>
    </div>
  </div>
</div>
<%- include('../components/_modalgetAll', {}); %>
<%- include('../components/_modalgetbyID', {}); %>
<%- include('../components/_modalInsertValue', {}); %>
<%- include('../components/_modalDeleteAll', {}); %>
<%- include('../components/_modalDeletebyID', {}); %>
<%- include('../components/_modalUpdatebyID', {}); %>

<!-- Modal Demo  -->
<%- include('../componentsDemo/_modalGetAllDemo', {}); %>
<%- include('../componentsDemo/_modalGetbyIDemo', {}); %>
<%- include('../componentsDemo/_modalnsertDemo', {}); %>
<script>
  var BASE_URL = '<%- BASE_URL %>';
  var POST_DETAIL_API = '<%- POST_DETAIL_API %>';
  var token = '<%- token %>'; 
  var table_name = '<%- table_name %>'; 
</script>