<div class="container custom-px">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Response</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Response</p>
          <div class="card" style="width: 25rem">
            <div class="card">
              <div class="card-body">
                <div class="row justify-content-between poperty">
                  <div class="col-12">
                    <div class="body"> {
                      <p name="errors">"Error":<%= errors%>,</p>
                    <p name="is_success">"is_success":<%= is_success%>,</p>
                    <p name="status_code">"status_code": <%= status_code%>,</p>
                    <p>"data_response":[],</p>
                    <p name="message">"message":<%= message%></p> 
                    }
                  </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="insert" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Response</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="container">
              <div class="row row-style">
                <div class="col-4">
                  <label>Name of field</label>
                </div>
                <div class="col-8">
                  <input type="text" class="form-control" placeholder="Field of api">
                </div>
              </div>
              <div class="row row-style">
                <div class="col-4">
                  <label>Name of field</label>
                </div>
                <div class="col-8">
                  <input type="text" class="form-control" placeholder="Field of api">
                </div>
              </div>
              <div class="row row-style">
                <div class="col-4">
                  <label>Name of field</label>
                </div>
                <div class="col-8">
                  <input type="text" class="form-control" placeholder="Field of api">
                </div>
              </div>
              <div class="row row-style">
                <div class="col-4">
                  <label>Name of field</label>
                </div>
                <div class="col-8">
                  <input type="text" class="form-control" placeholder="Field of api">
                </div>
              </div>  
              <div class="row row-style">
                <div class="col-12 text-right">
                  <button class="btn btn-primary">OK</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="detail2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Response</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 text-center">
              <p>Response</p>
            </div>
            <div class="col-6 text-center">
              <p>Request</p>
            </div>
          <div class="container col-12">
            <div class="row justify-content-between poperty">
                <div class="col-5" style="border: 1px solid #D2D2D2;">
                  <div class="body" name="body"> {
                    <p name="errors">"Error":<%= errors%>,</p>
                    <p name="is_success">"is_success":<%= is_success%>,</p>
                    <p name="status_code">"status_code": <%= status_code%>,</p>
                    <p>"data_response":[],</p>
                    <p name="message">"message":<%= message%></p> 
                  } 
                </div>
                </div>
                <div class="col-2"></div>
                 <div class="col-5" style="border: 1px solid #d2d2d2;">
                  <div class="body"> {
                    <p name="table_name">"table_name":<%= table_name%>,</p>
                    <p name="table_fields">"table_fields":[</p>
                    <p>{<span name="name">"name": <%= name%></span>,<span name="dataType">"dataType":<%= dataType%></span>},</p>
                    <p>]
                    </p> 
                  }
                </div>
              </div>
         </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row custom-row">
  <div class="col-12 custom-col">
    <p class="getall">GetAll</p>
  </div>
</div>
<div class="row custom-row" style="border: 1px solid #B7B7B7;">
  <div class="col-8">
    <a onclick="onModalGetAll()"><%= GET_ALL %>  </a>
  </div>
  <div class="col-4">
    <button class="btn btn-success" type="button" id="run" data-toggle="modal" data-target="#myModal">Run</button>
    <button class="btn btn-outline" type="button" id="copy">Copylink</button>
  </div>
</div>
<div class="row custom-row px-0">
  <div class="col-12 custom-col">
    <p class="getbyid">Get By ID</p>
</div>
</div>
<div class="row custom-row" style="border: 1px solid #B7B7B7;">
  <div class="col-8">
    <a data-toggle="modal" data-target="#detail2"><%= GET_BY_ID %> </a>
  </div>
  <div class="col-4">
    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#myModal" id="run">Run</button>
    <button class="btn btn-outline" type="button" id="copy">Copylink</button>
  </div>
</div>
<div class="row custom-row px-0">
  <div class="col-12 custom-col">
    <p class="insert">Insert</p>
</div>
</div>
<div class="row custom-row" style="border: 1px solid #B7B7B7;">
  <div class="col-8">
    <a data-toggle="modal" data-target="#detail2"><%= INSERT %> </a>
  </div>
  <div class="col-4">
    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#insert" id="run">Run</button>
    <button class="btn btn-outline" type="button" id="copy">Copylink</button>
  </div>
</div>
  <div class="row custom-row px-0">
    <div class="col-12 custom-col">
      <p class="update">Update By ID</p>
  </div>
  </div>
  <div class="row custom-row" style="border: 1px solid #B7B7B7;">
    <div class="col-8">
      <a data-toggle="modal" data-target="#detail2"><%= UPDATE %>  </a>
    </div>
    <div class="col-4">
      <button class="btn btn-success" type="button" data-toggle="modal" data-target="#insert" id="run">Run</button>
      <button class="btn btn-outline" type="button" id="copy">Copylink</button>
    </div>
  </div>
    <div class="row custom-row">
      <div class="col-12 custom-col">
        <p class="delete">Delete By ID</p>
      </div>
      </div>
    <div class="row custom-row" style="border: 1px solid #B7B7B7;">
      <div class="col-8">
        <a data-toggle="modal" data-target="#detail2"><%=DELETE %>  </a>
      </div>
      <div class="col-4">
        <button class="btn btn-success" type="button" id="run">Run</button>
        <button class="btn btn-outline" type="button" id="copy">Copylink</button>
      </div>
    </div>
    <div class="row custom-row">
      <div class="col-12 custom-col">
        <p class="delete">Delete All</p>
      </div>
    </div>
    <div class="row custom-row" style="border: 1px solid #B7B7B7;">
      <div class="col-8">
        <a data-toggle="modal" data-target="#detail2"><%= DELETE %>  </a>
      </div>
      <div class="col-4">
        <button class="btn btn-success" type="button" id="run">Run</button>
        <button class="btn btn-outline" type="button" id="copy">Copylink</button>
      </div>
    </div>
    <div id="result">
    </div>
  <script>
    function onModalGetAll(){
      $("#result").html();

            $("#detail2").modal();

            $('#closemodal').click(function () {
                $('#detail2').modal("hide");
                $("#result").html();
            });
    }
  </script>
    