<link rel="stylesheet" href="/stylesheets/freeprofile.css">

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="profile-img">
                <label for="file-input"><img
                        src=""
                        id="image" style="cursor: pointer;"></label>

                <input type="file" id="file-input" class="files" />
                <div class="progress" >
                    <div class="progress-bar" role="progressbar"id="progress" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="title">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Fullname</label>
                    </div>
                    <div class="col-lg-6">
                        <label><%= fullName %> </label>
                    </div>
                    <div class="col-lg-2 text-left">
                        <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalFullName()">
                            <i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <label>So du</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <label>Diem tich luy</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="col-lg-8">
                <div class="card" style="width: 35rem;">
                    <div class="card-body">
                        <h5 class="card-title">Thông tin cá nhân</h5>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>
                                    Tài khoản
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label><%= username %> </label>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button type="button" class="btn btn-primary p-custom-pf-0" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Email</label>
                            </div>
                            <div class="col-lg-6">
                                <label><%= email %> </label>
                            </div>
                            <div class="col-lg-3 text-right">
                                <i class="fas fa-edit"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Mật Khẩu</label>
                            </div>
                            <div class="col-lg-6">
                                <label>*********</label>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalpassword()">
                                    <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Ngày sinh</label>
                            </div>
                            <div class="col-lg-6">
                                <label><%= birthday %> </label>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalbirthday()">
                                    <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Giới tính</label>
                            </div>
                            <div class="col-lg-6">
                                <label><%= gender %> </label>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button type="button" class="btn btn-primary p-custom-pf-0" onclick="openModalgender()">
                                    <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="result">
</div>

<script>
     var BASE_URL = '<%- BASE_URL %>';
    var POST_UPLOAD_IMAGE = '<%- POST_UPLOAD_IMAGE %>';
    var token = '<%- token %>';

    var imageAvatar = "<%- URL_IMAGE %>" + "<%- image %>";
    $("#image").attr("src", imageAvatar);
    function openModalFullName() {
        $.get("/users/profile/editfullName?name=<%- fullName %>", (data) => {
            $("#result").html(data);

            $("#editmodel").modal();

            $('#closemodal').click(function () {
                $('#editmodel').modal("hide");
                $("#result").html();
            });
        });
    }
    function openModalgender(){
        $.get("/users/profile/editgender?name=<%- gender %>",(data)=>{
            $("#result").html(data);

            $("#editmodel").modal();
            $('#closemodal').click(function(){
                $('#editmodel').modal("hide");
                $("#result").html();
            });
        })
    }
    function openModalpassword(){
        $.get("/users/profile/editpassword?name=<%- password %>",(data)=>{
            $('#result').html(data);

            $("#editmodel").modal();
            $('#closemodal').click(function(){
                $('#editmodel').modal("hide");
                $("#result").html();
            });
        });
    }
    function openModalbirthday(){
        $.get("/users/profile/editbirthday?name=<%- birthday %>",(data)=>{
            $("#result").html(data);

            $("#editmodel").modal();
            $('#closemodal').click(function(){
                $('#editmodel').modal("hide");
                $("#result").html();
            });
        });
    }
</script>